body{
    margin: 0%;
    font-family: 'Nanum Myeongjo', serif;
    background-color: #edf6fd;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

h1{
    margin-left: 40px;
    color: #cae9ff;
}

h1 :hover {
    font-size: 40px;
    transition: all 0.5s;
}

h1 :link, h1 :visited, h1 :hover, h1 :active{
    color: #cae9ff;
    text-decoration: none;
}

.Cabecalho{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #1b4965;

}

.Cabecalho-nav{
    display: flex ;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
    width: 60%;
    height: 70px;
    font-size: 20px;
    background-color: #cae9ff;
    color: #1b4965;
    font-family: 'Nanum Myeongjo', serif;
}

.link-nav:link, .link-nav:visited, .link-nav:hover, .link-nav:active
{
    color: #000000;
    text-decoration: none;
}

.p-nav-cab:hover {
    font-size: 25px;
    transition: 0.5s;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: left;
   
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 30px;
    margin-top: 10%;
    width: 500px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 0 15px #bbbbbb;
    font-size: 25px;
    background-color: white;
    padding: 5%;
}

select {
    height: 30px;
    width: 400px;
    border-radius: 10px;

}

button {
    margin-top: 40px;
    margin-left: 125px;
    border-radius: 10px;
    height: 30px;
    width: 150px;
}

.valor, input{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30px;
    width: 400px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}


.para, .converter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 45px;
}


@media (max-width:700px) {
    h1{
        display: none;
    }

    .Cabecalho{
        height: auto;
    }

    .Cabecalho-nav{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
}